<!-- Modal to edit a goal -->
<div class="modal fade" id="modalEditGoal" tabindex="-1" aria-labelledby="modalEditLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalEditLabel">Edit Goal</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="editModalBody">
          <!-- Contenido cargado dinámicamente con fetch -->
        </div>
      </div>
    </div>
  </div>
  
  
  <% content_for :javascript do %>
  
    <script>
  
      function chargeEditGoalForm() {
        const editModal = document.getElementById("modalEditGoal");
  
        editModal.addEventListener("show.bs.modal", function (event) {
          const button = event.relatedTarget;
          const data = JSON.parse(button.getAttribute("data-goal"));
  
          fetch(`/goals/${data.id}/edit`)
            .then(response => response.text())
            .then(html => {
              const modalBody = editModal.querySelector("#editModalBody");
              modalBody.innerHTML = html;
            });
        });
      }
  
      document.addEventListener("DOMContentLoaded", function () {
        chargeEditGoalForm();
      });
  
    </script>
  
  <% end %>