<% content_for "head" do %>
<style>
    .card {
    border-radius: 10px; /* Bordes redondeados */
  }
</style>
<% end %>

<%= form_with(model: role, url: role.new_record? ? roles_path : role_path(role), method: role.new_record? ? :post : :patch, local: true) do |f| %>
    <%= f.label :name, "Role Name", class: "form-label" %>
    <%= f.text_field :name, class: "form-control", placeholder: "Administrator", required: true %>
  <div class="text-center">
    <%= f.submit role.new_record? ? "Create" : "Update", class: "btn btn-round bg-gradient-info btn-lg w-100 mt-4 mb-0" %>
  </div>
<% end %>
