<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="Confirm deletion"
    aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-default">Permision deletion</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this permision? This action cannot be undone.
            </div>
            <div class="modal-footer">
                <%= button_to "Confirm" , permission_path(permission), method: :delete, class: "btn bg-gradient-primary" %>
                <button type="button" class="btn btn-link  ml-auto" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>